* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 10px;
  height: 100%;
}

.content {
  background-color: aqua;
  border: 1px solid black
}

.list {
  background-color: bisque;
  padding: 15px 35px;
}

.content-text {
  background-color: darkgray;
}

@media (min-width: 800px) {
  .content {
    position: relative;
    padding-left: 230px;
  }
  .sidebar {
    position: absolute;
    width: 230px;
    left: 0;
    top: 0;
  }
}

@media (max-width: 799px) {
  .content-text {
    max-width: 60%;
    min-width: 300px;
  }
  .sidebar {
    width: 130px;
  }
}